<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name , class: 'form-control'%>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control'%>

        <%= f.label :status%> <p style="color:mediumblue;font-size: 0.8em">(0 for Disable,1 for Enable)</p>
        <%= f.select :status, (0..1), class: 'form-control' %>
        <%= f.submit "Create Product", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
